body {
    background-color: tan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.header > h1 {
    font-weight: bold;
    text-align: center;
}


